<h3>Logged in as Admin</h3>

<form action="/selection" method="POST">
  <div class="form-group">
    <p style="font-size:20px" style="font-family:verdana">
      Reservations:</p>
    <a class="btn btn-secondary" href="/registration/list"><i
        class="fa fa-list-alt"
      ></i>
      Reservation</a>
    <p></p>
    <p style="font-size:20px" style="font-family:verdana">
      Accounts:</p>
    <a class="btn btn-secondary" href="/user/signuplist"><i
        class="fa fa-list-alt"
      ></i>
      Accounts</a>
    <p></p>
    <p style="font-size:20px" style="font-family:verdana">To logout: </p>
    <a class="btn btn-secondary" href="/login"><i class="fa fa-list-alt"></i>
      Logout</a>
  </div>
</form>