<h3>Signup Successfully!</h3>

<form action="/login" method="POST" autocomplete="off">
  <div class="form-group col-md-2">

      <a class="btn btn-secondary" href="/login"><i class="fa fa-list-alt"></i>
        Login</a>

    </div>
  </div>

</form>